<h1><%= data.launch.launch_name %></h1>
<p><%= data.launch.launch_date %></p>
<p><%= data.launch.launch_time %></p>

<% if (data.launch.launch_details) { %>
    <p class="launch-details"><%= data.launch.launch_details %></p>
<% } %>


<div class="img-container">
    <% if (data.launch.reddit_link) { %>
    <a href="<%= data.launch.reddit_link %>" target="_blank">
        <img src="./img/reddit-icon.svg" alt="reddit link">
    </a>
    <% } %>

    <% if (data.launch.launch_links.wikipedia) { %>
    <a href="<%= data.launch.launch_links.wikipedia %>" target="_blank">
        <img src="./img/wiki-icon.svg" alt="wikipedia link">
    </a>
    <% } %>
</div>

<div class="background-overlay">
    <div></div>
</div>