<h1><%= data.launchInfo.launch_name %></h1>
<p><%= data.launchInfo.launch_date %></p>
<p><%= data.launchInfo.launch_time %></p>

<div class="img-container">
    <% if (data.launchInfo.reddit_link) { %>
    <a href="<%= data.launchInfo.reddit_link %>">
        <img src="./img/reddit-icon.svg" alt="reddit link">
    </a>
    <% } %>

    <% if (data.launchInfo.launch_links.wikipedia) { %>
    <a href="<%= data.launchInfo.launch_links.wikipedia %>">
        <img src="./img/wiki-icon.svg" alt="wikipedia link">
    </a>
    <% } %>
</div>

<div>
    <div></div>
</div>