<section class="detail-section">
    <h2>Launchpad</h2>
    <p><%= data.launchpad.name %></p>
    <ul>
        <li>Region <span><%= data.launchpad.region %></span></li>
        <li>Location <span><%= data.launchpad.location %></span></li>
        <li>Latitude <span><%= data.launchpad.lat %></span></li>
        <li>Longitude <span><%= data.launchpad.lng %></span></li>
        <li>Launch attemps <span><%= data.launchpad.attempts %></span></li>
        <li>Launch successes <span><%= data.launchpad.successes %></span></li>
    </ul>
</section>