<section class="detail-section">
    <h2>Rocket</h2>
    <p><%= data.rocket.name %></p>
    <ul>
        <li>Cost launch <span><%= data.rocket.cost_per_launch %></span></li>
        <li>Engines <span><%= data.rocket.engine.number %></span></li>
        <li>Succes pct <span><%= data.rocket.succes_pct %></span></li>
        <li>Weight <span><%= data.rocket.mass_kg %></span></li>
        <li>Height <span><%= data.rocket.height.meters %></span></li>
        <li>Diameter <span><%= data.rocket.diameter.meters %></span></li>
        <li>First flight <span><%= data.rocket.first_flight %></span></li>
    </ul>
</section>