<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <% if (data.payload && data.payload.mass_kg !== 'null') { %>
        <%- include('../partials/payload') %>
        <% } %>
        <%- include('../partials/rocket') %>
        <%- include('../partials/launchpad') %>
    </main>
    <script>
        let backgroundUrl = '<%= data.rocket.images[2] %>'
        let backgroundPosition = 'top center'
        <% if (data.rocket.name === 'Falcon Heavy') { %>
            backgroundPosition = 'center center'
        <% } %>
    </script>
    <script src="./js/positionMain.js"></script>
    <script src="./js/addBackgroundImg.js"></script>
</body>

</html>